<div class="row-fluid submissionDetail">
    <div class="span6">
    <form class="form-horizontal" id="submissionForm">
      {{#form}}
        {{#each pages}}
            <div class="row-fluid" style="text-align:left;border-bottom:1px dotted #4E4D4B; margin-bottom:4px;">
                <span style="color:rgb(61, 60, 60); font-size:16px; font-weight:bold; padding:4px;" >Page:{{name}}</span>
            </div>


          {{#each fields}}

              <div class="control-group">
                  <label class="control-label submissionLabel" style="font-weight:bold; font-size:14px;">{{#createFormLabel type}}{{/createFormLabel}} {{name}}:</label>

                  <div class="controls">
                  {{#if ../../../editMode}}
                    {{#createFormField this true}}{{/createFormField}}
                  {{else}}
                    {{#createFormField this false}}{{/createFormField}}
                  {{/if}}
                  </div>
              </div>


            {{#is 'sectionBreak' type}}
                <div class="page-break"></div>
            {{/is}}

          {{/each}}
        {{/each}}



      {{/form}}
      {{#hasLength missing}}
        <div class="row-fluid" style="text-align:left;border-bottom:1px dotted #4E4D4B; margin-bottom:4px;">
            <span style="color:rgb(61, 60, 60); font-size:16px; font-weight:bold; padding:4px;" >Fields No Longer Present</span>
        </div>
      {{#each missing}}
          <div class="control-group">
              <label class="control-label submissionLabel" style="font-weight:bold; font-size:14px;">{{#createFormLabel type}}{{/createFormLabel}} {{name}}:</label>

              <div class="controls">

              </div>   {{#createFormField this true}}{{/createFormField}}
          </div>
      {{/each}}
      {{/hasLength}}
    </form>
    </div>
    <div class="span6">
      {{#if sub}}
        {{#sub}}
          <h5>Submission Information</h5>
          <dl class="dl-horizontal">
            <dt>Date/Time Received:</dt>
            <dd>{{deviceFormTimestamp}}</dd>

            <dt>Received From User:</dt>
            <dd>{{userId}}</dd>

            <dt>Received From App:</dt>
            <dd>{{appCloudName}}</dd>

            <dt>Received From Device:</dt>
            <dd>{{deviceId}}</dd>

            <dt>Received From Ip:</dt>
            <dd>{{deviceIPAddress}}</dd>

            <dt>Edited:</dt>
            <dd></dd>

            <dt>Edited By:</dt>
            <dd></dd>
            </dl>
          {{/sub}}
      {{/if}}
    </div>
  {{#if controls}}
      <div class="span12 submission-buttons" style="padding:8px;">
        {{#if editMode}}
          <button class="btn btn-large btn-primary" id="cancelEdit" data-subid="{{_id}}" type="button">Cancel</button>
          <button class="btn btn-large btn-danger" id="updateSubmission" data-subid="{{_id}}" type="button">Update Submission</button>
        {{/if}}
      </div>
  {{/if}}
</div>