<style>

    html,body {
        margin:0;
        padding:0;
        width:100%;
    }
    body {
        margin: 0 4%;
    }
    .page-break {
        display: block;
        page-break-before: always;
    }
    .control-group:after {
        content: '';
        display:block;
        height:0px;
        visibility: hidden;
    }
    * {
        overflow: visible !important;
        -webkit-box-sizing: border-box;
    }
    img {
        margin-top:20px;
        max-width: 92%;
    }

.submissionDetail input{
    background-color: #fff;
}
.submissionDetail textarea{
    background-color: #fff;
}
</style>
<script type="text/x-handlebars-template" id="submissionTemplate">
    <div class="row-fluid submissionDetail" style="background-color:#F0F0EE">
        <form class="form-horizontal">
          {{#form}}
            {{#each pages}}
                <div class="row-fluid" style="border-bottom:1px dotted #4E4D4B; margin-bottom:4px;">
                    <h4 style="color:rgb(61, 60, 60); font-size:14px;">Page:{{name}}</h4>
                </div>


              {{#each fields}}
                {{#is 'photo' 'signature' type}}
                    <h3>{{name}} ({{type}})</h3>
                  {{#each values}}
                  {{! Load image from file:///, should have been put there by supercore prior to rendering this html}}
                      <img src="{{this.localUrl}}"/><br/>
                  {{else}}
                      <p>{{#is 'signature' type}}(No signature given){{else}}(No Images uploaded){{/is}}</p>
                  {{/each}}
                {{/is}}

                {{#is 'file' type}}
                    <h3>{{name}} ({{type}})</h3>
                  {{#each values}}
                      <a href="{{this.downloadUrl}}">{{this.downloadUrl}}</a><br/>
                  {{else}}
                      <p>(No files uploaded)</p>
                  {{/each}}
                {{/is}}

                {{#is 'number' 'radio' type}}
                    <div class="control-group">
                        <label class="control-label submissionLabel"
                               style="font-weight:bold; font-size:14px;">{{#createFormLabel type}}{{/createFormLabel}} {{name}}
                            :</label>

                        <div class="controls">
                          {{#createFormField this}}{{/createFormField}}
                        </div>
                    </div>

                {{/is}}

                {{#is 'text' 'emailAddress' 'dropdown' 'url' 'textarea' type}}

                    <div class="control-group">
                        <label class="control-label submissionLabel"
                               style="font-weight:bold; font-size:14px;">{{#createFormLabel type}}{{/createFormLabel}} {{name}}
                            :</label>

                        <div class="controls">
                          {{#createFormField this}}{{/createFormField}}
                        </div>
                    </div>

                {{/is}}

                {{#is  'dateTime' 'matrix' type}}

                    <h3>{{name}} ({{type}})</h3>
                  {{#each values}}
                      <p>{{this}}</p>
                  {{else}}
                      <p>(No value for this field)</p>
                  {{/each}}
                {{/is}}

                {{#is 'checkboxes' type}}

                    <h3>{{name}} ({{type}})</h3>

                    <p>
                      {{#each values}}
                        {{#each selections}}
                          {{this}}&nbsp;&nbsp;
                        {{else}}
                            (No selections for this field value)
                        {{/each}}
                          <br/>
                      {{else}}
                          (No value for this field)
                      {{/each}}
                    </p>
                {{/is}}

                {{#is 'location' 'locationMap' type}}
                    <div class="control-group">
                        <label class="control-label submissionLabel"
                               style="font-weight:bold; font-size:14px;">{{#createFormLabel type}}{{/createFormLabel}} {{name}}
                            :</label>

                        <div class="controls">
                          {{#createFormField this}}{{/createFormField}}
                        </div>
                    </div>

                {{/is}}

                {{#is 'sectionBreak' type}}
                    <div class="page-break"></div>
                {{/is}}

              {{/each}}
            {{/each}}
          {{/form}}
        </form>
    </div>

</script>